$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px
);

$bp-mobile: 320px;
$bp-tablet: 600px;
$bp-desktop: 1000px;
$bp-large-desktop: 1440px;

$bps: (
  'mobile': $bp-mobile,
  'tablet': $bp-tablet,
  'desktop': $bp-desktop,
  'large-desktop': $bp-large-desktop
);

// @sass-export-section="icons"
$icons: (
  'glass': "value",
   music: "value",
);

// @sass-export-section="map-get"
$map-get: (
  breakpoint: map-get($bps, 'mobile'),
  icon: map-get($icons, music)
);

// @sass-export-section="funcs"
$funcs: (
  'str-index': str-index("Helvetica Neue", "Neue"),
  'adjust-color': adjust-color(#d2e1dd, $red: -10, $blue: 10),
  'rgba': rgba(255, 0, 0, .5),
  'darken': darken(#b37399, 20%)
);

// @sass-export-section="levels"
$levels: (
  100: 80%,
  500: 0,
  900: 80%
);
