$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px
);

$bp-mobile: 320px;
$bp-tablet: 600px;
$bp-desktop: 1000px;
$bp-large-desktop: 1440px;

$bps: (
  'mobile': $bp-mobile,
  'tablet': $bp-tablet,
  'desktop': $bp-desktop,
  'large-desktop': $bp-large-desktop
);

// @sass-export-section="icons"
$icons: (
  'glass': "value",
   music: "value",
);
