// ---- Colors ---- //

// Generic
$white: #fff;
$black: #000;
$slate: #8ca5af;
$slate-dark: #4f6f7b;
$gray-medium: #757575;

// Brand
$brand-gray-light: #eceff1;
$brand-gray-medium: #d6d6d6;
$brand-gray: #b0bec5;
$brand-gray-dark: #92989b;
$brand-blue-light: #9fd1da;
$brand-blue: #64b5f6;
$brand-blue-gray: #647b86;
$brand-blue-gray-dark: #546E7A;
$brand-solitude: #ebeff2;
$brand-charcoal-dark: #263238;
$brand-cyan: #84ffff;
$brand-green-light: #9ccc65;
$brand-green: #4b7d2f;
$brand-green-dark: #78c257;
$brand-olive: #6ab344;
$brand-yellow: #ffb74d;
$brand-pink: #d70073;
$brand-purple: #ba68c8;
$brand-orchid-dark: #6b3b63;
$brand-slate: #4e6c78;

$first: 52px;
$second-variable: red;
$global-variable: #123; // inline comment here
$references: $second-variable;
$scss-function: lighten(#123, 10%);
// some comments in here
$scss-function-with-variable: darken($global-variable, 5%);
$image: url(sample.svg);
$image-with-quotes: url('sample.svg');
$calculation: $first - 12px;
//some more comments with a return after

$multiple-variables: $first solid $second-variable;
$multiple-calculations: $first - floor(12.5px);

$gray-medium: #757575;
$base-value: 25px;
$gray-dark: darken($gray-medium, 5%);
$logo: url(logo.svg);
$logo-quotes: url('logo.svg');
$calculation: $base-value - 12px;
$multiple-calculations: $base-value - floor(12.5px);

$gray-50: #fff;
$gray-500: #f6f6f6;
$uses-gray-500: $gray-500;

$font-size-small: 15px;
$font-size-large: 18px;
$icon-font-size: $font-size-small;
$icon-font-size-lg: $font-size-large;


//@sass-export=false
$brand-colors: (
  'gray-light': $brand-gray-light,
  'gray': $brand-gray,
  'gray-dark': $brand-gray-dark,
  'blue-light': $brand-blue-light,
  'blue': $brand-blue,
  'blue-gray': $brand-blue-gray,
  'charcoal-dark': $brand-charcoal-dark,
  'cyan': $brand-cyan,
  'green-light': $brand-green-light,
  'green': $brand-green,
  'olive': $brand-olive,
  'solitude': $brand-solitude,
  'yellow': $brand-yellow,
  'purple': $brand-purple,
  'orchid-dark': $brand-orchid-dark
);


$deepMap: (
  a: 1,
  b: 2,
  c: (a: 1, b:2),
);

$deepMapValue: map-get(map-get($deepMap, c), b);
